.header
  .header__title
    = link_to 'memorandum', root_path
    .header__title__sub
      = link_to '〜美味しいもの食べたい〜', root_path
  .header__main
    - if user_signed_in?
      = link_to '新規投稿', new_shop_path
    - else 
      = link_to '新規投稿', new0_signup_index_path
  .header__rightbox
    - if user_signed_in?
      .header__rightbox__btn1
        = current_user.name
      .header__rightbox__btn4
        = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      .header__rightbox__btn2
        = link_to '新規登録', new1_signup_index_path
      .header__rightbox__btn3
        = link_to 'ログイン', new_user_session_path

.main
  .main__title
    【東京のグルメマップ】
  .main__text
    私は鳥取生まれ鳥取育ちの田舎者です。
    %brそんな私がエンジニアになるべく2019年11月5日(火)に上京しました。
    %br観光や旅行地としても存在感を発揮している東京には、世界各国の多彩なグルメが集結しています。
    食べるのものが好きな私は様々なお店に足を運び生活範囲を広げようと思っております。
    %brそこで、このサイトでは自身で行ったお店や気になっているお店を紹介していきたいと思います。
    %br自分自身の備忘録としてまたは、地元の友達などが参考にして頂けたらと思い作成しました！
    ユーザー登録すると誰でも投稿できますので気になったお店がありましたら投稿お願いします！
    %br美味しいものを食べて幸せな気持ちになりましょう♪
    
  .main__index
    - @shops.each do |shop|
      = link_to "/shops/#{shop.id}" do
        .main__index__shop_name
          = shop.shop_name
          -# つじ半
        .main__index__address
          = shop.address
          -# 東京都中央区日本橋3-1-15 久栄ビル 1F
        .main__index__image
          = image_tag(shop.images.first.image.url, class: "main__index__image-1")
        .main__index__name
          投稿者：
          = shop.user.name
        

.footer
  .footer__title
    君がどんなものを食べているか言ってみなさい。
    君がどんな人間であるか当ててみせよう。
  .footer__sub
    ブリア=サヴァラン